$primary : #f5f5f5;
$secondary : #7D73C3;
$info : #3AC6D5;
$danger: #242424;
// $warning:;
// $success: ;
// $jumbotron-bg  :;
$headings-font-family :'Poppins', serif;



// Custom.scss
// Option A: Include all of Bootstrap

@import "../bootstrap-4.5.3/scss/bootstrap.scss";


// body{
//   background: blue;
// }


// font-family: 'Poppins', sans-serif; //paragraphs
